@import '../../../scss/variables.scss';

.section{
    grid-column: 1/-1;
    min-height: 100vh;
    position: relative;
}
.contentWrapper{
    display: grid;
    grid-template-columns: repeat(var(--cells), 1fr);
}
.imageWrapper{
    position: sticky;
    top: 0;
    left: 0;
    grid-column: 1/ span 19;
    overflow: hidden;
    @media (max-width: $maxLaptop){
        grid-column: 1/ span 20;
    }
    .images{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .image{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .imageOverlay{
        z-index: 3;
        background-color: #000;
        transform: translateY(-100%);
        will-change: transform;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    img{
        min-height: 100%;
        object-fit: cover;
    }
    &:hover .videoWrapper{
        transform: translateY(0);
        video{
            opacity: 1;
            transform: scaleY(1);
        }
    }
}

.videoWrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s $cubic;
    video{
        max-width: 100%;
        opacity: 0;
        transition: opacity .3s .4s $cubic; 
        object-fit: cover;
        min-height: 100%;
        transform: scaleY(0);
    }
}
