@import '../../../scss/variables.scss';

.content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 25 / -8;
    @media (max-width: $maxLaptop){
        grid-column: 26 / -4;
    }
    .text{
        font-size: 19px;
        font-weight: 400;
        margin: 12px 0 60px;
        color: $darkGray;
        line-height: 1.68;
        max-width: 525px;
        @media (max-width: $maxLaptop){
            max-width: 460px;
        }
    }
    .list{
        transform: translateY(14px);
        li{
            font-size: 21px;
            margin: 0 0 22px;
            position: relative;
            line-height: 1;
            span{
                z-index: 2;
                transition:all .3s $cubic;
                position: relative;
                display: inline-block;
                line-height: inherit;
            }
            &:before{
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                background: $lightGreen;
                width: 70px;
                height: 100%;
                z-index: 1;
                transform: scaleX(0);
                transform-origin: left center;
                transition: all .3s $cubic;
            }
            &:hover{
                span{
                    transform: translateX(35px);
                }
                &:before{
                    transform: scaleX(1);
                }
            }
        }
    }
}
