@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';


.section{
    min-height: 100vh;
    margin: 0 0 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media (max-width: $maxTablet){
        margin: 0 0  260px;
    }
    @media (max-width: $maxMobile){
        margin: 0 0  160px;
    }
}
.image{
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    min-height: 100%;
    @media (max-width: $minTablet){
        position: relative;
        width: 100%;
        padding: 0 66px 0 0;
    }
    @media (max-width: $maxMobile){
        padding: 0 28px 0 0;
    }
    img{
        object-fit: cover;
    }
}
.content{
    grid-column: 7/span 6;
    transform: translateY(-50px);
    @media (max-width: $minTablet){
        transform: translateY(0);
        grid-column: 2/span 9;
        margin: 110px 0 0;
    }
    @media (max-width: $maxMobile){
        grid-column: 1/-1;
        margin: 70px 0 0;
    }
}

.subtitle{
    @include font(29px, 21px, $minDesktop, $minTablet);
    font-weight: 300;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin: 150px 0 0;
    @media (max-width: $minTablet){
        margin: 80px 0 0;
    }
}
.products .item{
    margin: 0 0 46px;
    letter-spacing: 0.39px;
    @include font(21px, 18px, $minDesktop, $minTablet);
    padding: 0 30px 0 0;
    transition: all .3s $cubic; 
    position: relative;
    .hover{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: -20px;
            height: 100%;
            width: 0;
            background: $lightGreen;
            transition: all .3s $cubic; 
            z-index: -1;
        }
    }
    &:hover{
        transform: translateX(35px);
        .hover:before{
            width: 50px;
        }
    }
}