@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.Blog {
  grid-column: 1 / -1;
  display: inherit;
  grid-template-columns: inherit;
  padding: 185px 0 0;

  @media (max-width: $maxTablet) {
    padding: 125px 0 0;
  }
}

.wrapStartSection {
  padding: 208px 0 calc(var(--spacing) / 2);
  grid-column: 1 / -1;
  display: inherit;
  grid-template-columns: inherit;
  margin-bottom: 10px;
  @media (max-width: $maxLaptop) {
    grid-column: 2 / -1;
    padding: 283px 0 140px;
  }
  @media (max-width: $maxMobile) {
    padding: calc(var(--spacing) * 2) 0 var(--spacing);
  }
  @media (max-width: $maxTablet) {
    grid-column: 1 / -1;
    padding: 66px 0 74px;
  }
  @media (max-width: $maxMobile) {
    padding: 56px 0 43px;
  }
}