@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.sliderSection {
  min-height: 100vh;
  margin: 94px 0;
  padding: 150px 0 122px;
  background: #fafafa;
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
  overflow-x: hidden;
  @media (max-width: $maxLaptop){
    padding: 92px 0 132px;
    margin: 0;
    min-height: auto;
  }
  @media (max-width: $maxTablet) {
    padding: 70px 0;
  }
}
.container {
  grid-column: 7 / -7;
  min-width: 0;
  min-height: 0;
  @media (max-width: $maxLaptop) {
    grid-column: var(--tabletWidth);
  }
}
.titleWrapper {
  margin: 0 0 72px;
  @media (max-width: $maxTablet) {
    margin: 0 0 66px;
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 74px;
  }
}
.list {
  grid-column: 2/11;
  grid-row: 2/3;
  ul {
    display: flex;
    justify-content: space-around;
  }
  li {
    font-size: 29px;
  }
}
