@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.sliderSection{
    min-height: 100vh;
    margin: 100px 0;
    padding: 110px 0 160px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $maxTablet){
        padding: 70px 0 0;
    }
}
.titleWrapper{
    margin: 0 0 100px;
    @media (max-width: $maxTablet){
        margin: 0 0 80px;
    }
}
.list{
    grid-column: 2/11;
    grid-row: 2/3;
    ul{
        display: flex;
        justify-content: space-around;
    }
    li{
        font-size: 29px;
    }
}