@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.desc{
    @include font(19px, 16px, $maxLaptop, $minTablet);
    font-weight: 400;
    line-height: 1.68;
    &.light{
        color: $gray;
    }
}