@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section{
    display: inherit;
    grid-template-columns: inherit;
    padding: calc(var(--spacing) * 2) 0;
    grid-column: 1/-1;
    margin: 0 0 calc(var(--spacing) * 2);
    &.darkBg{
        background: #FBFBFB;
    }
}
.content{
    grid-column: 11/span 15;
    @media (max-width: $maxTablet){
        grid-column: 7/span 17;
    }
    @media (max-width: $maxMobile){
        grid-column: 3/ -3;
        grid-row: 2/3;
    }
}
.image{
    grid-column: -19/span 8;
    @media (max-width: $maxTablet){
        grid-column: -20/-7;
    }
    @media (max-width: $maxMobile){
        grid-column: 3/span 16;
        padding: 0 0 45px;
    }
}
.titleWrapper{
    max-width: 400px;
    margin: 0 0 30px;
}
.desc{
    font-weight: 300;
    @include font(29px, 21px, $maxTablet, $maxMobile);
    margin: 0 0 40px;
}