@import '../../../scss/variables.scss';

.footerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 50px 2px;
}
.footer {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
}
.row {
  grid-column: var(--desktopWidth);
  @media (max-width: $maxLaptop) {
    grid-column: 5 / -5;
  }
  @media (max-width: $minTablet) {
    grid-column: 4 / -4;
  }
}

.contact,
.positions,
.adress {
  margin: 0 30px 60px 0;
}
.socials {
  @media (max-width: $maxMobile) {
    width: 100%;
  }
}
.positions li {
  line-height: 1.6;
}
.title {
  letter-spacing: -0.4px;
  margin: 0 0 7px;
  @media (max-width: $maxMobile) {
    margin: 0 0 5px;
  }
}
.contact .title {
  color: $gray;
  margin: 0 0 15px;
  @media (max-width: $maxMobile) {
    margin: 0 0 5px;
  }
}
.contact .mail {
  font-size: 18px;
  position: relative;
  letter-spacing: -0.4px;
  @media (max-width: $maxMobile) {
    font-size: 16px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    background: $black;
    width: 100%;
    height: 1px;
  }
}
.socials li {
  margin: 0 0 9px;
}
.socials .link {
  text-decoration: underline;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.text {
  color: $gray;
  letter-spacing: .1px;
  line-height: 1.5;
}
.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(151, 151, 151, 0.1);
  padding: 28px 0 44px;
  @media (max-width: $maxTablet) {
    padding: 18px 0;
  }
}
.links {
  color: #000;
  a {
    margin: 0 0 0 50px;
    display: inline-block;
    transform: translateY(-2px);
    @media (max-width: $maxMobile) {
      width: 100%;
      font-size: 14px;
      margin: 0 0 5px;
    }
  }
}

.positions {
  transform: translateX(35px);
}

.contact {
  transform: translateX(-7px);
}

.logo {
  
}