@import '../../../scss/variables.scss';

.sectionContacts{
    padding: 200px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    @media (max-width: $maxMobile){
        padding: 160px 0;
    }
}
.titleWrapper{
    margin: 0 0 100px;
    grid-column-end: span 10;
    p{
        margin: 10px 0 0;
        font-weight: 300;
        a{
            text-decoration: underline;
        }
    }
        @media(max-width: $maxTablet){
            grid-column: 2/span 10;
        }
        @media (max-width: $maxMobile){
            grid-column: 1/span 10;
        }
}