@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  min-height: 100vh;
  margin: 5px 0 291px;
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
  align-items: center;
  @media (max-width: $maxLaptop) {
    padding-top: 47px;
    margin: 0 0 252px;
  }
  @media (max-width: $maxTablet) {
    margin: 0 0 180px;
  }
  @media (max-width: $maxTablet) {
    padding-top: 35px;
    margin: 0 0 55px;
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 150px;
    min-height: 89vh;
    padding-top: 31px;
  }
}
.image {
  grid-column: -20 / -1;
  position: relative;
  height: 100%;
  padding: 56% 0 0;
  @media (max-width: $maxLaptop) {
    height: 100vh;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -1;
  }
  @media (max-width: $maxTablet) {
    height: 100%;
    padding: 57% 0 0;
  }
  @media (max-width: $maxMobile) {
    padding: 73% 0 0;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content {
  grid-column: 8 / span 15;
  transform: translateY(-55px);
  grid-row: 1 / 2;
  padding-right: 10px;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 19;
    transform: translateY(-52px);
    padding-right: 30px;
  }
  @media (max-width: $maxTablet) {
    grid-column: 8 / -8;
    transform: translateY(0);
    grid-row: 2 / 3;
    margin: 110px 0 0;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4 / -1;
    margin: 70px 0 0;
  }
}
.titleWrapper {
  margin: 0 0 16px;
  @media (max-width: $maxTablet) {
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 12px;
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 8px;
  }
}
.datas {
  margin: 90px 0 0;
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  @media (max-width: $maxLaptop) {
    margin: 95px 0 0;
  }
  @media (max-width: $maxTablet) {
    margin: 80px 0 0;
  }
  @media (max-width: $maxTablet) {
    margin: 76px 0 0;
  }
  @media (max-width: $maxMobile) {
    margin: 74px 0 0;
  }
}
.datas .name {
  font-size: 13px;
  color: $gray;
  margin: 0 0 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  @media (max-width: $maxTablet) {
    font-size: 13px;
    margin: 0 0 22px;
  }
  @media (max-width: $maxMobile) {
    font-size: 11px;
    margin: 0 0 6px;
  }
}
.datas .number {
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: 500;
  @media (max-width: $maxMobile) {
    font-size: 26px;
  }
}
