@import '../../scss/variables.scss';

.section{
    min-height: 100vh;
    display: grid;
    margin: 300px 0 0
}

.content{
    grid-column: 1/span 6;
    padding: 0 0 130px;
}
.image{
    grid-column: 7/span 6;
    display: grid;
    justify-items: center;
    img{
        max-height: 177px;
    }
}
.services{
    grid-row: 2/3;
    grid-column: 1/span 6;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10% 0 0;
    .item{
        font-size: 29px;
        padding: 0 40px 40px 0;

    }
}
.experience{
    grid-row: 2/3;
    grid-column: 7/span 6;
}

.subtitle{
    font-size: 29px;
    font-weight: 300;
}