.subscribeButton {
  background-color: #30fddc;
  color: #393939;
  border: none;
  display: block;
  height: 54px;
  width: 144px;
  margin-left: auto;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}