.headingSection{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0 0;
}
.headingWrapper{
    grid-column: span 8;
    opacity: 0;
    visibility: hidden;
    transform-origin: center;
}
.subtitleWrapper{
    grid-column: span 10;
    grid-row: 2/3;
    margin: 80px 0 0;
    visibility: hidden;
    opacity: 0;
    
}
.subtitle{
    letter-spacing: -0.4px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    &:after{
        content: "";
        width: 55px;
        height: 1px;
        background: #212121;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}