.cursor{
    width: 58px;
    height: 58px;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform-origin: center center;
    margin-left: -30px;
    margin-top: -30px;
    pointer-events: none;
    will-change: transform;
    transform: translate3d(50%, 50%, 0);
    animation: normal-cursor .4s forwards  linear;
    opacity: 0;
    svg{
        transition: all .3s ease-in-out;
        fill: transparent;
        
    }
    &.slow{
        animation: small-cursor .4s forwards  linear;
        svg{
            animation: cursor-anim 6s infinite linear ;
            fill: #000; 
        }
    }
    &.stop{
        svg{
            animation-play-state: paused;
            fill: #000; 
        }
        
    }
    svg{
        animation: cursor-anim 3s infinite linear ;
    }
}

@keyframes  cursor-anim {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes  small-cursor {
    0%{
        width: 58px;
        height: 58px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}
@keyframes  normal-cursor {
    0%{
        width: 50px;
        height: 50px;
    }
    100%{
        width: 58px;
        height: 58px;
    }
}


