.cursor{
    width: 60px;
    height: 60px;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform-origin: center center;
    margin-left: -30px;
    margin-top: -30px;
    pointer-events: none;
    will-change: transform;
    transform: translate3d(50%, 50%, 0);
    &.slow{
        svg{
            animation: cursor-anim 6s infinite linear ;
        }
    }
    &.stop{
        svg{
            animation-play-state: paused;
        }
        
    }
    svg{
        animation: cursor-anim 3s infinite linear ;
    }
}

@keyframes  cursor-anim {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
