@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.title{
    @include font(50px, 38px, $maxLaptop, $minTablet);
    font-weight: 400;
    line-height: 1.44;
    div{
        font-weight: 300;
    }
    @media (max-width: $maxMobile) {
        font-size: 30px;
    }
}