@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

:global {
  .select {
    transition: all 0.3s $cubic;
    & .select__control {
      border: none;
      border-radius: 0;
      font-size: 21px;
      cursor: pointer;
      @media (max-width: $maxMobile){
        font-size: 19px;
      }
    }
    & .select__indicator-separator {
      display: none;
    }
    & .select__control--is-focused,
    & .select__control:hover {
      box-shadow: none;
    }
    & .select__indicators svg {
      color: $black;
    }
    & .select__placeholder {
      color: $gray;
    }
    & .select__single-value {
      color: $black;
      margin-left: 0;
      margin-top: 1px;
      @media (max-width: $maxLaptop){
        margin-top: 3px;
      }
    }
    & .select__value-container {
      padding-left: 0;
      transform: translateY(-2px);
    }
    & .select__menu{
      top:25px;
      border-radius: 0;
      box-shadow: 0 2px 28px 0 rgba(0,0,0,0.07);
      padding: 15px 0;
    }
    & .select__option{
      color: $gray;
      font-size: 21px;
      background-color: transparent;
      cursor: pointer;
      padding: 7px 26px;
    }
    @media (max-width: $maxMobile){
      & .select__option{
        font-size: 19px;
        padding: 7px 26px;
      }
    }
    & .select__option:hover{
      color: $black;
      background-color: transparent;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: calc(var(--cellSize) * 2);
  grid-column: var(--desktopWidth);
  grid-auto-rows: min-content;
  grid-row-gap: 62px;
  @media (max-width: $maxLaptop) {
    grid-column: 5 / -5;
  }
  @media (max-width: $maxTablet) {
    grid-column: var(--desktopWidth);
    grid-row-gap: 25px;
  }
  @media (max-width: $maxMobile) {
    grid-column: var(--tabletWidth);
  }
}
.input {
  min-height: 41px;
  border: none;
  border-bottom: 1px solid $lightGray;
  transition: all 0.3s $cubic;
  width: 100%;
  box-shadow: none;
  font-size: 21px;
  border-radius: 0;
  &:focus {
    outline: none;
    border-color: $lightGreen;
  }
  &:focus + label {
    opacity: 1;
  }
  &::placeholder {

    color: $gray;
  }
  &.active{
    border-color: $lightGreen;
  }
  @media (max-width: $maxMobile){
    font-size: 19px;
  }
}
.inputWrapper {
  position: relative;
  grid-column-end: span 4;
  @media (max-width: $maxTablet) {
    grid-column: 1/ -1;
    margin: 0 0 30px;
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 25px;
  }
  label {
    position: absolute;
    top: -28px;
    left: 0;
    letter-spacing: 0.43px;
    font-size: 13px;
    opacity: 0;
    transition: all 0.3s $cubic;
    color: $gray;
    font-family: 'PT Sans', sans-serif;
    &.active {
      opacity: 1;
    }
    @media (max-width: $maxMobile) {
      top: -22px;
    }
  }
}
.selectWrapper {
  grid-column-end: span 4;
  position: relative;
  @media (max-width: $maxTablet) {
    grid-column: 1 / -1;
    margin: 0 0 30px;
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 25px;
  }
  label {
    position: absolute;
    top: -28px;
    left: 0;
    letter-spacing: 0.43px;
    font-size: 13px;
    transition: all 0.3s $cubic;
    color: $gray;
    font-family: 'PT Sans', sans-serif;
    opacity: 0;
    &.active{
      opacity: 1;
    }
    @media (max-width: $maxMobile) {
      top: -22px;
    }
  }
  &:nth-child(2n) {
    margin: 8px 0 0;
    @media (max-width: $maxTablet) {
        margin: 0 0 30px;
    }
    @media (max-width: $maxMobile) {

    }
  }
}
.textareaWrapper {
  grid-column: 1 / span 8;
  grid-row: 3/4;
  position: relative;
  padding: 10px 5px 0 0;
  @media (max-width: $maxTablet) {
    grid-column: 1 / -1;
    grid-row: 6/7;
    padding: 18px 0 0;
  }
  @media (max-width: $maxMobile) {
    padding: 12px 0 0;
  }
  & > label{
    position: absolute;
    top: -15px;
    left: 0;
    letter-spacing: 0.43px;
    font-size: 13px;
    transition: all 0.3s $cubic;
    color: $gray;
    font-family: 'PT Sans', sans-serif;
    opacity: 0;
    &.active{
      opacity: 1;
    }
    @media (max-width: $maxMobile){
      top: -10px;
    }
  }
}
.textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid $lightGray;
  resize: none;
  padding: 5px 30px 5px 0;
  font-size: 21px;
  line-height: 1.4;
  transition: all 0.3s $cubic;
  border-radius: 0;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    outline: none;
    border-color: $lightGreen;
  }
  @media (max-width: $maxMobile) {
    font-size: 19px;
  }
  &.active{
    border-color: $lightGreen;
  }
}

.textareaWrapper.filled{
  .inputFileWrapper{
    position: absolute;
    left: 0;
    bottom: 4px;
    
  }
  .labelFile{
    right: inherit;
    left: 0;
    span{
      display: block;
    }
  }
  // textarea{
  //   padding-bottom: 50px;
  // }
}
.btnWrapper {
  grid-column: 11 / span 2;
  grid-row: 3/ 4;
  align-self: end;
  justify-self: end;
  padding: 0 0 8px;
  @media (max-width: $maxLaptop){
    padding: 0 0 5px;
  }
  @media (max-width: $maxTablet) {
    grid-column: 1 / -1;
    grid-row: 7/8;
    padding: 69px 0 0;
  }
  @media (max-width: $maxMobile) {
    padding: 36px 10px 0;
  }
}
.btn {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  position: relative;
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    background: $lightGreen;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all .3s $cubic;
    z-index: -1;
  }
  &:hover:after{
    height: 56%;
  }
}
.includeWrapper {
  grid-column: 5/-1;
  grid-row: 2 / 3;
  position: relative;
  min-height: 41px;
  align-self: end;
  @media (max-width: $maxTablet) {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }
  label {
    position: absolute;
    top: -24px;
    left: 0;
    letter-spacing: 0.43px;
    font-size: 13px;
    transition: all 0.3s $cubic;
    color: $gray;
    font-family: 'PT Sans', sans-serif;
    @media (max-width: $maxTablet) {
      top: -26px;
    }
    @media (max-width: $maxMobile) {
      top: -24px;
    }
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  min-height: 41px;
  transform: translateY(7px);
  @media (max-width: $maxLaptop) {
    font-size: 16px;
    transform: translateY(10px);
  }
  @media (max-width: $maxTablet) {
    transform: translateY(3px);
  }
  @media (max-width: $maxMobile) {
    transform: translateY(10px);
  }
  .item {
    margin-bottom: 12px;
    position: relative;
    font-size: inherit;
    @media (max-width: $maxMobile) {
      margin-bottom: 8px;
    }
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 3px;
      background: $lightGreen;
    }
    &.active {
      label {
        background: $lightGreen;
        cursor: pointer;
      }
    }
    input{
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
    label {
      padding: 2px 0 4px;
      font-size: inherit;
      position: static;
      font-size: 19px;
      color: inherit;
      cursor: pointer;
      font-family: inherit;
      @media (max-width: $maxLaptop) {
        font-size: 16px;
      }
    }
  }
  .item:not(:last-child) {
    margin-right: 20px;
  }
}
