@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
}
.title {
  @include font(38px, 30px, $minDesktop, $minMobile);
  font-weight: 300;
  grid-column: var(--desktopWidth);
  @media (max-width: $maxLaptop) {
    grid-column: var(--tabletWidth);
  }
  @media (max-width: $minTablet) {
    grid-column: 3 / -4;
    letter-spacing: 3px;
  }
  @media (max-width: $minMobile) {
    letter-spacing: 0px;
  }
  div {
    padding-top: 10px;
    font-weight: 400;
    position: relative;
    transform: translateX(35px);
    display: inline-block;
    @media (max-width: $minTablet) {
      transform: translateX(0);
    }
    &:before {
      content: '';
      width: 70px;
      height: 60%;
      background: $lightGreen;
      z-index: -1;
      position: absolute;
      top: 6px;
      left: -35px;
      transform-origin: 0 0;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      &:before {
        transform: scaleX(1);
      }
    }
  }
}