@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section{
    padding: 260px 0 170px;
    @media (max-width: $maxTablet){
        padding: 135px 0 85px;
    }
    @media (max-width: $maxMobile){
        padding: 80px 0 70px;
    }
}
.title{
    @include font(55px, 26px, $minDesktop, $maxMobile);
    letter-spacing: 0.69px;
    font-weight: 300;
    grid-column: span 5;
    @media (max-width: $maxMobile){
        grid-column: span 8;
    }
    div{
        font-weight: 500;
    }
}