@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.capability {
  display: inherit;
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  padding: 110px 0 315px;
  grid-auto-rows: min-content;
  @media (max-width: $maxTablet){
    padding: 125px 0 310px;
  }
  @media (max-width: $maxMobile){
    padding: 120px 0 137px;
  }
  .content {
    grid-column: 11 / span 18;
    padding: 10% 0 90px;
    @media (max-width: $maxLaptop) {
      grid-column: 7 / span 24;
      padding: 7% 0 90px;
    }
    @media (max-width: $maxTablet) {
      grid-column: var(--tabletWidth);
      padding: 30px 0 120px;
      
    }
  }
  .image {
    grid-column: -19 / span 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 18px 0 0;
    position: relative;
    
    img {
      max-height: 130px;
      position: absolute;
      transition: all .3s $cubic;
      opacity: 0;
      transform: translateY(20px);
      @media (max-width: $maxMobile){
        max-height: 100px;
      }
      &:first-child{
        position: relative;
      }
      &.active{
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    @media (max-width: $maxLaptop) {
      grid-column: -13 / span 10;
      padding: 0 55px 0 0;
      transform: translateY(-20px);
    }
    @media (max-width: $maxTablet) {
      grid-column: var(--tabletWidth);
      justify-content: start;
      padding: 0 0 20px;
      transform: translate(-15px,0);
    }
    @media (max-width: $maxMobile) {
      transform: translate(-12px,-10px);
    }
  }
  .list {
    grid-column: 11 / span 24;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-top: 42px;
    @media (max-width: $maxLaptop) {
      grid-column: 7 / span 30;
    }
    @media (max-width: $maxTablet) {
      grid-column: var(--tabletWidth);
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (max-width: $maxMobile) {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      padding-top: 18px;
    }
    & > .link {
      margin: 0 0 30px;
      transition: all .3s $cubic;
      &:hover {
        transform: translateX(40px);
        .item:before {
          width: 60%;
        }
      }
      @media (max-width: $maxMobile) {
        margin: 0 0 14px;
      }
    }
    .item {
      @include font(29px, 18px, $maxTablet, $maxMobile);
      display: inline-block;
      letter-spacing: 0.54px;
      transition: all 0.3s $cubic;
      position: relative;
      pointer-events: none;
      &:before {
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        top: -2px;
        left: -40px;
        background: $lightGreen;
        transition: all 0.3s $cubic;
        z-index: -1;
      }
    }
  }
}
.titleWrapper {
  margin: 0 0 16px;
}
.descWrapper{
  max-width: 600px;
}
