@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  min-height: 100vh;
  margin: 0 0 146px;
  padding: 183px 0 100px;
  grid-column: 1 / -1;
  display: inherit;
  grid-template-columns: inherit;
  grid-auto-rows: min-content;

  @media (max-width: $maxLaptop) {
    margin: 0 0 103px;
    padding: 169px 0 100px;
  }
  @media (max-width: $maxTablet) {
    padding: 71px 0 100px;
    margin: 0 0 21px;
  }
  @media (max-width: $maxMobile) {
    padding: 96px 0 142px;
  }
}

.content {
  grid-column: 11 / span 16;
  padding: 0 0 100px;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 19;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4/ -8;
    padding: 0 0 75px;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4/ -8;
    padding: 0 0 56px;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4/ -6;
    padding: 0 0 15px;
  }
}
.titleWrapper {
  margin: 0 0 16px;
  @media (max-width: $maxLaptop) {
    margin: 0 0 14px;
  }
  @media (max-width: $maxMobile) {
    margin: 0px 0 9px;
  }
}

.image {
  grid-column: -21 / span 11;
  grid-row: 2/3;
  display: grid;
  justify-items: center;
  position: relative;
  @media (max-width: $maxLaptop) {
    grid-column: -15/ -7;
    padding: 0 0 76px;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / span 11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 5 / span 12;
    padding: 0 0 104px;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4 / span 20;
  }
  @media (max-width: $maxMobile) {
    padding: 0 0 82px;
  }
  .picture:first-child{
      position: relative;
  }
  .picture{
    position: absolute;
    @media (max-width: $maxMobile){
      top: 25px;
    }
  }
  img {
    max-height: 147px;
    transform: translate(6px, 21px);
    opacity: 0;
    transition: all .3s $cubic;
    transform: translateY(20px);
    @media (max-width: $maxMobile){
      max-height: 127px;
    }
    &.active{
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.services {
  grid-row: 2/3;
  grid-column: 11 / span 17;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding-left: 14px;
  @media (min-width: $maxDesktop) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 22;
    padding: 0 0 76px;
  }
  @media (max-width: $maxTablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 4/ -4;
    grid-row: 3/4;
    padding: 0 0 82px;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4/ -8;
  }
  @media (max-width: $maxMobile) {
    grid-template-columns: 1fr;
    padding: 0 0 25px;
  }

  .item {
    margin: 0 40px 24px 0;
    padding: 0 0 0 20px;
    position: relative;
    max-height: 40px;
    white-space: nowrap;
    
    @media (max-width: $maxLaptop) {
      margin: 0 40px 26px 0;
      padding: 0 0 0 36px;
    }
    @media (max-width: $maxTablet) {
      padding: 0 0 0 33px;
    }
    @media (max-width: $maxMobile) {
      margin: 1px 40px 23px 0;
      padding: 0 0 0 24px;
      max-height: 100%;
    }
  }
  .title {
    @include font(28px, 19px, $maxTablet, $maxMobile);
    letter-spacing: 0.54px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      left: -32px;
      top: 40%;
      position: absolute;
      width: 14px;
      height: 2px;
      z-index: 2;
      background: $lightGreen;
    }
    &:after {
      content: '';
      left: -32px;
      top: 40%;
      position: absolute;
      width: 14px;
      height: 2px;
      z-index: 2;
      transform: rotate(90deg);
      transform-origin: center;
      background: $lightGreen;
      transition: all 0.3s $cubic;
    }
    @media (max-width: $maxMobile) {
      &:before,
      &:after {
        left: -23px;
      }
    }

    &:hover {
      z-index: 5;
      @media (min-width: 766px) {
        &:after {
          opacity: 0;
        }
      }
    }
    &:hover + .desc {
      top: -48px;
      opacity: 1;
      z-index: 4;
      transform: scale(1);
      display: block;
    }
  }
  .desc {
    position: absolute;
    @include font(19px, 16px, $maxLaptop, $maxTablet);
    font-family: 'PT Sans', sans-serif;
    background: #fff;
    top: 0;
    left: -21px;
    box-shadow: 0 2px 30px 0 rgba(229, 229, 229, 0.38);
    width: 350px;
    white-space: normal;
    letter-spacing: -0.47px;
    padding: 94px 24px 45px 45px;
    line-height: 24px;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s $cubic, top 0.3s $cubic;
    @media (max-width: $maxLaptop) {
      padding: 97px 24px 45px 56px;
    }
    @media (max-width: $maxTablet) {
      padding: 97px 37px 45px 56px;
    }
    @media (max-width: $maxMobile) {
      display: none;
      position: static;
      background: none;
      box-shadow: none;
      padding: 4px 60px 10px 0px;
    }
  }
}
.more {
  grid-row: 3/4;
  grid-column: 11 / span 16;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 0.8;
  @include font(19px, 16px, $maxLaptop, $maxTablet);
  margin: 159px 0 0;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 18;
    margin: 76px 0 0;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4/ -4;
    grid-row: 4/5;
    margin: 49px 0 0;
  }
  @media (max-width: $maxMobile) {
    margin: 0;
    grid-column: 6/ -4;
  }
  .link {
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      background: $lightGreen;
      position: absolute;
      bottom: -3px;
      left: 0;
      transition: all .3s $cubic;
      z-index: -1;
    }
    &:hover:after{
      height: 56%;
    }
  }
}

.descWrapper {
  @media (max-width: $maxTablet) {
    padding-right: 60px;
  }
  @media (max-width: $maxMobile) {
    padding-right: 0px;
  }
}
