@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';


.section{
    min-height: 100vh;
    padding: 100px 0 100px;
    margin: 0 0 100px;
}

.content{
    grid-column: 2/span 8;
    padding: 0 0 100px;
    @media (max-width: $maxMobile){
        grid-column: 1/span 10;
        padding: 0 0 76px;
    }
}
.image{
    grid-column: 8/span 3;
    grid-row: 2/3;
    display: grid;
    justify-items: center;
    @media (max-width: $maxMobile){
        grid-column: 1/span 5;
        padding: 0 0 52px;
    }
    img{
        max-height: 177px;
        @media (max-width: $maxMobile){
            max-height: 107px;
        }
    }
}
.services{
    grid-row: 2/3;
    grid-column: 2/span 5;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10% 0 0;
    @media (max-width: $maxMobile){
        grid-column: 1/span 12;
        grid-row: 3/4;
        padding: 0 0 82px;
    }
    .item{
        @include font(29px, 21px, $minDesktop, $minTablet);
        margin: 0 40px 40px 0;
        position: relative;
        letter-spacing: 0.54px;
        max-height: 40px;
        &:after{
            content: "";
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $lightGreen;
            transition: all .3s $cubic;
            z-index: -1;
            opacity: .7;
        }
        &:hover{
            &:after{
                height: 50%;
            }
        }
    }
}
.more{  
    grid-row: 3/4;
    grid-column: 2/span 7;
    font-weight: bold;
    font-size: 18px;
    @media (max-width: $maxMobile){
        grid-column: 1/span 10;
        grid-row: 4/5;
    }

}

.subtitle{
    @include font(29px, 21px, $minDesktop, $minTablet);
    font-weight: 300;
}