@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  min-height: 100vh;
  margin: 0 0 146px;
  padding: 183px 0 100px;
  grid-column: 1 / -1;
  display: inherit;
  grid-template-columns: inherit;
  grid-auto-rows: min-content;

  @media (max-width: $maxLaptop) {
    margin: 0 0 103px;
    padding: 169px 0 100px;
  }
  @media (max-width: $minTablet) {
    padding: 67px 0 100px;
    margin: 0 0 17px;
  }
  @media (max-width: $minMobile) {
    padding: 89px 0 100px;
  }
}

.content {
  grid-column: 11 / span 16;
  padding: 0 0 100px;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 19;
  }
  @media (max-width: $minTablet) {
    grid-column: 4/ -8;
    padding: 0 0 75px;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4/ -8;
    padding: 0 0 56px;
  }
  @media (max-width: $minMobile) {
    grid-column: 4/ -6;
    padding: 0 0 15px;
  }
}
.titleWrapper {
  margin: 0 0 16px;
  @media (max-width: $maxLaptop) {
    margin: 0 0 14px;
  }
  @media (max-width: $minMobile) {
    margin: 0 0 7px;
  }
}

.image {
  grid-column: -21 / span 11;
  grid-row: 2/3;
  display: grid;
  justify-items: center;
  @media (max-width: $maxLaptop) {
    grid-column: -15/ -7;
    padding: 0 0 76px;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / span 11;
  }
  @media (max-width: $minTablet) {
    grid-column: 5 / span 12;
    padding: 0 0 104px;
  }
  @media (max-width: $maxMobile) {
    grid-column: 4 / span 20;
  }
  @media (max-width: $minMobile) {
    padding: 0 0 74px;
  }
  img {
    max-height: 187px;
    transform: translate(6px, 21px);
    @media (max-width: $maxLaptop) {
      transform: translate(-3px, 28px);
    }
    @media (max-width: $minTablet) {
      transform: translate(-16px, 45px);
    }
    @media (max-width: $minMobile) {
      transform: translate(-8px, 43px);
    }
  }
}
.services {
  grid-row: 2/3;
  grid-column: 11 / span 17;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding-left: 14px;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 22;
    padding: 0 0 76px;
  }
  @media (max-width: $maxTablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 4/ -4;
    grid-row: 3/4;
    padding: 0 0 82px;
  }
  @media (max-width: $minTablet) {
    grid-column: 4/ -8;
  }
  @media (max-width: $maxMobile) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 0 42px;
  }
  @media (max-width: $minMobile) {
    grid-template-columns: 1fr;
  }

  .item {
    margin: 0 40px 24px 0;
    padding: 0 0 0 20px;
    position: relative;
    max-height: 40px;
    white-space: nowrap;
    @media (max-width: $maxLaptop) {
      margin: 0 40px 26px 0;
      padding: 0 0 0 36px;
    }
    @media (max-width: $minTablet) {
      padding: 0 0 0 33px;
    }
  }
  .title {
    @include font(28px, 19px, $minTablet, $minMobile);
    letter-spacing: 0.54px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      left: -32px;
      top: 40%;
      position: absolute;
      width: 14px;
      height: 2px;
      z-index: 2;
      background: $lightGreen;
    }
    &:after {
      content: '';
      left: -32px;
      top: 40%;
      position: absolute;
      width: 14px;
      height: 2px;
      z-index: 2;
      transform: rotate(90deg);
      transform-origin: center;
      background: $lightGreen;
      transition: all 0.3s $cubic;
    }
    @media (max-width: $minMobile) {
      &:before,
      &:after {
        left: -19px;
      }
    }

    &:hover {
      z-index: 5;
      @media (min-width: 766px) {
        &:after {
          opacity: 0;
        }
      }
    }
    &:hover + .desc {
      top: -48px;
      opacity: 1;
      z-index: 4;
      transform: scale(1);
    }
  }
  .desc {
    position: absolute;
    @include font(19px, 16px, $maxLaptop, $minTablet);
    font-family: 'PT Sans', sans-serif;
    background: #fff;
    top: 0;
    left: -21px;
    box-shadow: 0 2px 30px 0 rgba(229, 229, 229, 0.38);
    width: 350px;
    white-space: normal;
    letter-spacing: -0.47px;
    padding: 94px 24px 45px 45px;
    line-height: 24px;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s $cubic, top 0.3s $cubic;
    @media (max-width: $maxLaptop) {
      padding: 97px 24px 45px 56px;
    }
    @media (max-width: $minTablet) {
      padding: 97px 37px 45px 56px;
    }
    @media (max-width: $maxMobile) {
      // display: none;
    }
  }
}
.more {
  grid-row: 3/4;
  grid-column: 11 / span 16;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 0.8;
  @include font(19px, 16px, $maxLaptop, $minTablet);
  margin: 159px 0 0;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 18;
    margin: 76px 0 0;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4/ -4;
    grid-row: 4/5;
    margin: 40px 0 0;
  }
  @media (max-width: $minTablet) {
    margin: 49px 0 0;
  }
  @media (max-width: $maxMobile) {
    margin: 0;
  }
  a {
    position: relative;
    display: inline-block;
    line-height: 24px;
    border-bottom: 1px solid #60fed9;
  }
}

.descWrapper {
  @media (max-width: $minTablet) {
    padding-right: 60px;
  }
}
