@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.BlogItem {
  grid-column: 1 / -1;
  display: inherit;
  grid-template-columns: inherit;
  padding: 0;
}

.wrapStartSection {
  padding: 208px 0 calc(var(--spacing) / 2);
  grid-column: 1 / -1;
  display: inherit;
  grid-template-columns: inherit;
  margin-bottom: 10px;
  @media (max-width: $maxLaptop) {
    grid-column: 2 / -1;
    padding: 283px 0 140px;
  }
  @media (max-width: $maxMobile) {
    padding: calc(var(--spacing) * 2) 0 var(--spacing);
  }
  @media (max-width: $maxTablet) {
    grid-column: 1 / -1;
    padding: 66px 0 74px;
  }
  @media (max-width: $maxMobile) {
    padding: 56px 0 43px;
  }
}

.content {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
}

.top {
  margin-bottom: 211px;
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;

  @media (max-width: $maxTablet) {
    margin-bottom: 141px;
  }
  @media (max-width: $maxMobile) {
    padding-top: 169px;
    grid-template-columns: 1fr;
  }
}

.img {
  grid-column: 1 / 22;
  min-height: 100vh;
  object-fit: cover;
  object-position: 70%;

  @media (max-width: $maxLaptop) {
    grid-column: 1 / 21;
  }
  @media (max-width: $maxLaptop) {
    grid-column: 1 / 21;
  }
  @media (max-width: $maxMobile) {
    min-height: 426px;
    order: 1;
  }
}

.wrapTitle {
  grid-column: 25 / -6;
  align-self: center;

  @media (max-width: $maxTablet) {
    grid-column: 25 / -7;
  }
  @media (max-width: $maxMobile) {
    margin-bottom: 47px;
    padding-left: calc(var(--cellSize) * 4);
  }

  a {
    position: relative;
    display: block;
    color: #111212;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 100px;
    //transform: translateY(-158px);

    // @media (max-width: $maxTablet) {
    //   transform: translateY(-58px);
    // }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      height: 26px;
      width: 46px;
      background-color: #f5f5f5;
      z-index: -1;
    }
  }

  h1 {
    margin-bottom: 31px;
    color: #111212;
    font-weight: normal;
    font-size: 38px;
    letter-spacing: 0.7px;
    line-height: 57px;

    @media (max-width: $maxTablet) {
      font-size: 30px;
      letter-spacing: 0.39px;
      line-height: 45px;
    }
  }

  // p {
  //   color: #9fa4a6;
  //   font-family: 'PT Sans';
  //   font-size: 16px;
  //   letter-spacing: 0.5px;
  //   line-height: 33px;
  // }
}

.body {
  position: relative;
  grid-column: 14 / -14;
  margin-bottom: 230px;
  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
    margin-bottom: 124px;
  }

  span {
    color: #9fa4a6;
    font-family: "PT Sans";
    font-size: 18px;
    letter-spacing: 0.56px;
    line-height: 33px;
  }

  p {
    color: #111212;
    font-family: "PT Sans";
    font-size: 21px;
    line-height: 32px;

    @media (max-width: $maxMobile) {
      font-size: 18px;
    }
  }

  ul {
    padding-left: 51px;
    margin-bottom: 23px;

    @media (max-width: $maxMobile) {
      padding-left: 31px;
    }

    li {
      position: relative;
      color: #111212;
      font-family: "PT Sans";
      // font-size: 21px;
      // line-height: 32px;
      padding: 8px 0;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        height: 7px;
        width: 7px;
        background-color: #9fa4a6;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.touchingList {
  display: inline-block;
  li {
    position: relative;
    &:after {
      content: "";
      bottom: 12px;
      left: 0;
      padding: 0 3px;
      width: 100%;
      height: 25%;
      position: absolute;
      background: rgba(151, 151, 151, 0.1);
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      &:after {
        background: #30fddc;
      }
    }
  }
}

.case {
  position: absolute;
  top: 0;
  left: -109px;
  transform: translateX(-50%);

  @media (max-width: $maxTablet) {
    top: -50px;
    left: calc(var(--cellSize) * 3);
  }
  @media (max-width: $maxMobile) {
    left: calc(var(--cellSize) * 5);
  }
}

.caseText1 {
  margin-bottom: 22px;
}

.caseText2 {
  margin-bottom: 75px;
}

.whatTitle {
  margin-bottom: 14px;
  color: #111212;
  font-size: 38px;
  letter-spacing: 0.7px;
  line-height: 57px;

  @media (max-width: $maxMobile) {
    font-size: 29px;
    line-height: 39px;
  }
}

.whatText {
  margin-bottom: 45px;
}

.whatText2 {
  margin-bottom: 22px;
}

.whatText3,
.whatText4 {
  margin-bottom: 49px;
}

.whatText5 {
  margin-bottom: 57px;
}

.whatImg {
  margin-bottom: 17px;
}

.whatImgDescription {
  display: block;
  text-align: center;
  margin-bottom: 57px;
}

.whatText6,
.whatText7,
.whatText8 {
  margin-bottom: 49px;
}

.whatText9 {
  margin-bottom: 92px;
}

.whatPreverb {
  color: #111212;
  font-size: 28px;
  letter-spacing: 0.52px;
  line-height: 42px;
  font-weight: normal;

  @media (max-width: $maxMobile) {
    font-size: 29px;
    line-height: 39px;
  }
}

.whatPreverbDescription {
  margin-bottom: 92px;
  display: block;
  color: #9fa4a6;
  font-family: "PT Sans";
  font-size: 18px;
  letter-spacing: 0.56px;
  line-height: 33px;
  text-align: right;
}

.conclusionTitle {
  margin-bottom: 14px;
  color: #111212;
  font-size: 38px;
  letter-spacing: 0.7px;
  line-height: 57px;

  @media (max-width: $maxMobile) {
    font-size: 29px;
    line-height: 39px;
  }
}

.conclusionText {
  margin-bottom: 49px;
}

// =============================== AUTHOR ==================================

.author {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  width: 100%;
  font-family: "Gordita Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111212;
}

.authorImage {
  display: block;
  height: 70px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1 / 3;
}

.authorName {
  grid-row: 1;
  grid-column: 2 / -1;
  font-weight: bold;
  align-self: end;
}

.authorDescription {
  grid-row: 2;
  grid-column: 2 / -1;
  align-self: start;
}

// ======================== POST DATE ===========================
.postDate {
  grid-column: 5 / 13;
  color: #797d7e;
  size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
  justify-self: start;
  font-family: 'PT Sans Regular', Arial, Helvetica, sans-serif;

  @media (max-width: $maxLaptop) {
    grid-column: 4 / 10;
  }

  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
  }
}

// ======================== REGULAR TEXT ===================
.regularText {
  grid-column: 14 / -14;
  font-size: 21px;
  line-height: 32px;
  color: #111212;
  margin-bottom: 32px;
  align-self: start;

  font-family: 'PT Sans Regular', Arial, Helvetica, sans-serif;

  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
    letter-spacing: .6;
  }
}

// ======================== QUOTED TEXT ===================
.quotedText {
  grid-column: 14 / -14;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.52px;
  margin-top: 30px;
  margin-bottom: 55px;
  font-family: 'Gordita Regular', Arial, Helvetica, sans-serif;

  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
    margin-bottom: 24px;
    margin-top: 32px;
    font-size: 25px;
  }
}

// ======================== LIST HEADING (H6) ===================
.h6Heading {
  grid-column: 14 / -14;
  font-size: 21px;
  line-height: 32px;
  font-weight: normal;
  margin-top: 92px;
  margin-bottom: 28px;

  @media (max-width: $maxLaptop) {
    margin-top: 72px;
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
    margin-top: 42px;
    margin-bottom: 24px;
  }
}

// ========================= LIST ================================
.list {
  grid-column: 15 / -14;
  font-size: 16px;

  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 5 / -4;
    
  }
  @media (max-width: $maxMobile) {
    grid-column: 9 / -4;
    margin-bottom: 24px;
  }
}

.list .listItem {
  position: relative;
  color: #111212;
  font-family: "PT Sans";
  margin-bottom: 1em;
  font-size: 21px;
  line-height: 32px;
  // @media (max-width: $maxLaptop) {
  //   grid-column: 11 / -11;
  // }
  // @media (max-width: $maxTablet) {
  //   grid-column: 4 / -4;
  // }
  // @media (max-width: $maxMobile) {
  //   grid-column: 5 / -4;
  //   margin-bottom: 24px;
  // }
}

.listItem:before {
  content: "";
  position: absolute;
  left: -30px;
  height: 7px;
  width: 7px;
  background-color: #9fa4a6;
  border-radius: 50%;
  margin-top: 0.5em;
  //  transform: translateY(-50%);
}

.listItem > .regularText {
  margin: 0;
}
// ======================== PARAGRAPH HEADING (H2) ===================
.h2Heading {
  grid-column: 14 / -14;
  font-size: 38px;
  line-height: 57px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 65px;

  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
    margin-bottom: 24px;
  }
}

// ======================== PARAGRAPH HEADING (H3) ===================
.h3Heading {
  grid-column: 14 / -14;
  font-size: 28px;
  line-height: 44px;
  font-weight: normal;
  margin-bottom: 14px;
  margin-top: 35px;
  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 5 / -4;
    margin-bottom: 24px;
  }
}

// ======================== IMAGE IN CONTENT ===================
.contentImage {
  grid-column: 14 / -14;
  display: block;
  width: 100%;
  min-height: 425px;
  object-fit: cover;
  margin-top: 65px;
  margin-bottom: 35px;

  @media (max-width: $maxLaptop) {
    grid-column: 11 / -11;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / -4;
    margin-top: 45px;
  }
  @media (max-width: $maxMobile) {
    grid-column: 1 / -1;
    margin-bottom: 24px;
  }
}

// ======================== LINK ===================
.link {
  color: #111212;
  position: relative;
  padding: 0 3px;
}
.link:hover:before {
  height: 100%;
  background: #30fddc;
}

.link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(236, 241, 240);
  z-index: -1;
  width: 100%;
  height: 50%;
  transition: all 0.3s ease-in-out;
}

// ======================== STICKY ASIDE =======================
.stickyAside {
  grid-row: 4;
  grid-column: 4 / 11;
  position: sticky;
  top: 150px;
  background-color: #fff;
  padding: 10px;
  font-family: 'Gorgita Regular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  align-self: end;

  @media (max-width: $maxLaptop) {
    grid-column: 2 / 10;
  }
  @media (max-width: $maxTablet) {
    display: none;
  }
  @media (max-width: $maxMobile) {
  }
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  font-family: 'Gordita Regular', Arial, Helvetica, sans-serif;
  letter-spacing: .5px;
}

.subscribeButton {
  background-color: #30fddc;
  color: #393939;
  border: none;
  display: block;
  height: 54px;
  width: 144px;
  margin-top: 20px;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;

  @media (max-width: $maxLaptop) {
    width: 100px;
  }
  @media (max-width: $maxTablet) {
  }
  @media (max-width: $maxMobile) {
  }
}
