@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  display: inherit;
  grid-template-columns: inherit;
  padding: var(--spacing) 0;
  grid-column: 1/-1;
  margin-bottom: 173px;
  @media (max-width: $maxLaptop) {
    padding-top: 284px;
  }
  @media (max-width: $minTablet) {
    padding-top: 162px;
    margin-bottom: 111px;
  }
  @media (max-width: $maxMobile) {
    padding: var(--spacing) 0 calc(var(--spacing) * 2);
  }
  @media (max-width: $minMobile) {
    grid-column: 2/-1;
    padding-top: 80px;
    margin-bottom: 7px;
  }
}
.content {
  grid-column: 11 / span 15;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 18;
  }
  @media (max-width: $maxTablet) {
    grid-column: 4 / span 23;
  }
  @media (max-width: $minTablet) {
    grid-column: 5 / span 23;
  }
  @media (max-width: $maxMobile) {
    grid-column: 3/ -3;
    grid-row: 2/3;
  }
}
.image {
  grid-column: -18 / span 7;
  padding: 3% 0 0;
  @media (max-width: $maxLaptop) {
    grid-column: -16 / -7;
    padding: 10% 25px 0 0px;
  }
  @media (max-width: $maxTablet) {
    grid-column: -16/-4;
  }
  @media (max-width: $minTablet) {
    
  }
  @media (max-width: $maxMobile) {
    grid-column: 3 / span 16;
    padding: 0 0 40px;
  }
  @media (max-width: $minMobile) {
    padding: 0 0 31px;
  }
}
.titleWrapper {
  max-width: 400px;
  margin: 0 0 16px;
  @media (max-width: $maxMobile) {
    margin: 0 0 12px;
  }
  @media (max-width: $minTablet) {
    margin: 0 0 0;
    h3 {
      font-size: 38px;
    }
  }
  @media (max-width: $minMobile) {
    margin: 0 0 10px;
    h3 {
      font-size: 31px;
    }
  }
}

.desc {
  padding-right: 20px;
  @media (max-width: $maxLaptop) {
    padding-right: 0;
  }
  @media (max-width: $minMobile) {
    padding-bottom: 14px;
  }
}

.subtitleWrapper {
  color: #313233;
  padding: 36px 0 0;
  @include font(19px, 16px, $maxTablet, $maxMobile);
  span {
    position: relative;
    &:before {
      content: '';
      bottom: 0;
      left: 0;
      padding: 0 3px;
      width: 100%;
      height: 50%;
      position: absolute;
      background: $lightGreen;
      z-index: -1;
    }
  }
  @media (max-width: $minTablet) {
    padding: 18px 0 0;
  }
}
