@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  min-height: 100vh;
  margin: 150px 0 291px;
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
  align-items: center;
  @media (max-width: $maxLaptop) {
    padding-top: 47px;
    margin: 150px 0 252px;
  }
  @media (max-width: $maxTablet) {
    padding-top: 35px;
    margin: 100px 0 55px;
  }
  @media (max-width: $maxMobile) {
    margin: 150px 0 150px;
    min-height: 89vh;
    padding-top: 31px;
  }
}
.content {
  grid-column: 25 / -7;
  transform: translateY(-24px);
  @media (max-width: $maxLaptop) {
    grid-column: 25 / -5;
  }
  @media (max-width: $maxTablet) {
    grid-column: 8 / -8;
    transform: translateY(0);
    grid-row: 2 / 3;
    margin: 110px 0 0;
  }
  @media (max-width: $maxTablet) {
    grid-column: 8 / -9;
    margin: 120px 0 0;
    transform: translateY(-17px);
  }
  @media (max-width: $maxMobile) {
    grid-column: var(--tabletWidth);
  }
  @media (max-width: $maxMobile) {
    margin: 70px 0 0;
    transform: translateY(8px);
  }
}
.image {
  grid-column: 1 / span 19;
  position: relative;
  height: 100%;
  grid-row: 1/2;
  @media (max-width: $maxTablet) {
    padding: 56% 0 0;
    grid-column: 1 / -4;
  }
  @media (max-width: $maxTablet) {
    padding: 57% 0 0;
  }
  @media (max-width: $maxMobile) {
    grid-column: 1 / -3;
    padding: 73% 0 0;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}
.titleWrapper {
  max-width: 400px;
  margin: 0 0 16px;
  @media (max-width: $maxMobile) {
    margin: 0 0 12px;
  }
  @media (max-width: $maxTablet) {
    margin: 0 0 15px;
  }
  @media (max-width: $maxMobile) {
    margin: 0 0 10px;
  }
}

.desc {
  padding-right: 20px;
  @media (max-width: $maxLaptop) {
    padding-right: 0;
  }
  @media (max-width: $maxTablet) {
    margin-bottom: 14px;
  }
  @media (max-width: $maxMobile) {
    padding-bottom: 14px;
    margin-bottom: 3px;
  }
}

.subtitleWrapper {
  color: #313233;
  padding: 36px 0 0;
  span {
    position: relative;
    white-space: nowrap;
    &:before {
      content: '';
      bottom: 0;
      left: 0;
      padding: 0 3px;
      width: 100%;
      height: 50%;
      position: absolute;
      background: $lightGreen;
      z-index: -1;
    }
  }
  @media (max-width: $maxTablet) {
    padding: 23px 0 0;
  }
}
