.section{
    min-height: 100vh;
    display: flex;
}
.content{
    grid-column: 2/span 6;
}
.image{
    padding: 50px 0 0;
    grid-column: 9/span 3;
}
.titleWrapper{
    max-width: 400px;
    margin: 0 0 30px;
}
.desc{
    font-weight: 300;
    font-size: 29px;
    margin: 0 0 40px;
}