@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.workSection {
}
.titleWrapper {
  grid-column: 8 / span 20;
  h2 {
    transform: translateY(22px);
    @media (max-width: $maxLaptop) {
      transform: translate(0, -6px);
    }
    @media (max-width: $minTablet) {
      font-size: 38px;
      transform: translateY(20px);
    }
    @media (max-width: $minMobile) {
      font-size: 26px;
      transform: translateY(34px);
    }
  }
  @media (max-width: $maxLaptop) {
    grid-column: 5 / -4;
  }
  @media (max-width: $minTablet) {
    margin-bottom: 2px;
    grid-column: 4 / -4;
  }
  @media (max-width: $maxMobile) {
    grid-column: 3 / -3;
    padding: 0 0 20px;
  }
  @media (max-width: $minMobile) {
    padding: 0 0 44px;
  }
}
