@import '../../scss/variables.scss'; 

.footerTop{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 34px;
    padding: 0 0 70px;
}
.contact,.positions{
    justify-self: center;
}
.positions li{
    line-height: 1.6;
}
.socials{
    justify-self: end;
}
.title{
    letter-spacing: -0.4px;
    margin: 0 0 11px;
}
.contact .title{
    color: $gray;
    margin: 0 0 17px;
}
.contact .mail{
    font-size: 18px;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        background: $black;
        width: 100%;
        height: 1px;
    }
}
.socials li{
    margin: 0 0 12px;
}
.socials .link{
    text-decoration: underline;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}
.text{
    color: $gray;
    letter-spacing: -0.4px;
}
.footerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(151,151,151,.1);
    padding: 40px 0;
}
.links{
    color: $gray;
    a{
        margin: 0 0 0 50px;
    }
}