@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.innovationSection {
}
.container {
  grid-column: 11 / -11;
  position: relative;
  @media (max-width: $maxLaptop) {
    grid-column: 7 / -7;
  }
  @media (max-width: $maxTablet) {
    grid-column: var(--tabletWidth);
    padding: 0 0 78px;
  }
  @media (max-width: $maxMobile) {
    padding: 0 0 46px;
  }
}
.titleWrapper {
  padding: 0 30% 0 6px;
  position: relative;
  margin: 0 0 166px;
  @media (max-width: $maxTablet) {
    grid-column: 1/13;
    margin: 0 0 85px;
    padding: 0;
  }
}
.link {
  position: absolute;
  right: 0;
  top: 60px;
  @media (max-width: $maxTablet) {
    top: inherit;
    bottom: -18px;
    left: 0;
    right: inherit;
  }
  a {
    font-family: 'Pt Sans', sans-serif;
    font-weight: bold;
    display: inline-block;
    line-height: 26px;
    border-bottom: 1px solid #60FED9;
  }
}
.list {
  padding: 0 calc(var(--cellSize) * 2) 0;
  @media (max-width: $maxMobile){
    padding: 0 ;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  li {
    font-size: 29px;
    position: relative;
    margin: 0 0 55px;
    outline: none;
    @media (max-width: $maxMobile){
      width: 50%;
      margin: 0 0 85px;
    }
  }
  .number {
    position: absolute;
    left: -35px;
    bottom: 4px;
    font-size: 13px;
    font-weight: 400;
    color: $gray;
    letter-spacing: 0.24px;
    @media (max-width: $maxMobile){
      left: 10px;
    }
  }
  .image {
    margin: 0 auto 20px;
    text-align: center;
    svg{
      max-height: 112px;
    }
    @media (max-width: $maxTablet) {
      svg{
        max-height: 90px;
      }
    }
  }
  .text {
    @include font(29px, 21px, $minDesktop, $maxTablet);
    text-align: center;
    line-height: 1;
    position: relative;
  }
}
