@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';


.section{
    min-height: 100vh;
    padding: 100px 0;
    background: #FAFAFA;
}
.titleWrapper{
    margin: 0 0 30px;
    grid-column: 2/span 7;
    @media (max-width: $maxTablet){
        grid-column: 1 / span 10;
    }
}

.posts{
    grid-column: 2/ span 7;
    @media (max-width: $maxTablet){
        grid-column: 1 / span 9;
    }
    @media (max-width: $maxMobile){
        grid-column: 1 / -1;
    }
    .post{
        padding: 0 8% 20px 0;
        border-bottom: 1px solid rgba(151,151,151,.1);
        display: grid;
        grid-template-columns: 160px 1fr;
        margin: 80px 0 0;
        align-items: center;
        @media (max-width: $maxMobile){
            grid-template-columns: 110px 1fr;
            margin: 40px 0 0;
            padding: 0 0 10px;
        }
    }
    .date{
        color: $gray;
        font-size: 12px;
        @media (max-width: $maxMobile){
            font-size: 10px;
        }
    }
    .dash{
        padding: 0 6px;
    }
    .title{
        @include font(29px, 21px, $minDesktop, $minTablet);
        letter-spacing: .5px;
        color: #000;
        padding: 0 0 0 20px;
    }
}
.image{
    grid-column: 9 / span 3;
    align-self: center;
    @media (max-width: $maxTablet){
        grid-column: 10 / span 3;
    }
    @media (max-width: $maxMobile){
        display: none;
    }
}