@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  min-height: 100vh;
  padding: 167px 0 164px;
  background: #fafafa;
  grid-column: 1 / -1;
  display: inherit;
  grid-auto-rows: min-content;
  grid-template-columns: inherit;
  @media (max-width: $maxLaptop) {
    padding: 167px 0 168px;
    min-height: auto;
  }
  @media (max-width: $maxTablet) {
    padding: 128px 0 120px;
  }
  @media (max-width: $maxMobile) {
    padding: 84px 0 84px;
  }
}
.titleWrapper {
  grid-column: 11 / -11;
  margin: 0 0 25px;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / -8;
  }
  @media (max-width: $maxTablet) {
    grid-column: var(--tabletWidth);
  }
}

.posts {
  grid-column: 11 / span 23;
  @media (max-width: $maxLaptop) {
    grid-column: 8 / span 29;
  }
  @media (max-width: $maxTablet) {
    grid-column: var(--tabletWidth);
  }
  @media (max-width: $maxMobile) {
    grid-column: 4 / -3;
  }
  .post {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    min-height: 80px;
    position: relative;
    &:first-of-type {
      margin-top: 80px;
      @media (max-width: maxLaptop) {
        margin-top: 90px;
      }
      @media (max-width: $maxTablet) {
        margin-top: 40px;
      }
    }
    &:not(:first-of-type) {
      margin: 85px 0 0;
      @media (max-width: $maxLaptop) {
        margin: 63px 0 0;
      }
      @media (max-width: $maxMobile) {
        margin: 46px 0 0;
      }
    }
    &:last-of-type {
      @media (max-width: $maxMobile) {
        margin: 25px 0 0;
      }
    }
    @media (max-width: $maxLaptop) {
      grid-template-columns: 216px 1fr;
    }
    @media (max-width: $maxTablet) {
      grid-template-columns: 0.5fr 1fr;
      margin: 50px 0 0;
    }
    @media (max-width: $maxMobile) {
      margin: 30px 0 0;
      grid-template-columns: 125px 1fr;
    }
    &:hover {
      .image {
        transform: scaleY(1) translateY(-50%);
        opacity: 1;
      }
      .title {
        span {
          &:before {
            background: $lightGreen;
          }
        }
      }
    }
  }
  .date {
    color: $gray;
    font-size: 16px;
    padding: 12px 0 0;
    @media (max-width: $maxMobile) {
      font-size: 11px;
      padding: 7px 0 0;
    }
  }
  .dash {
    padding: 0 12px;
    @media (max-width: $maxTablet) {
      padding: 0 13px;
    }
    @media (max-width: $maxMobile) {
      padding: 0 3px;
    }
  }
  .title {
    @include font(28px, 19px, $maxTablet, $maxMobile);
    letter-spacing: 0.5px;
    color: #000;
    padding: 0 0 0 calc(var(--cellSize) * 0.4);
    position: relative;
    line-height: 40px;
    cursor: pointer;
    @media (max-width: $maxLaptop) {
      padding: 0;
    }
    @media (max-width: $maxMobile) {
      line-height: 25px;
    }
    @media (max-width: 365px) {
        font-size: 15px;
    }
    span {
      z-index: 2;
      position: relative;
      display: inline-block;
      transition: all 0.3s $cubic;
      pointer-events: none;
      &:before {
        position: absolute;
        content: '';
        bottom: 5px;
        left: 0;
        padding: 0 3px;
        width: 100%;
        height: 25%;
        position: absolute;
        background: rgba(151, 151, 151, 0.1);
        z-index: -1;
        transition: all 0.3s $cubic;
        @media (max-width: $maxTablet) {
          bottom: -1px;
          height: 40%;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 20px;
      width: 0;
      height: 100%;
      z-index: 1;
      background: $lightGreen;
      transition: all 0.3s $cubic;
    }
  }
}
.image {
  position: absolute;
  top: 50%;
  right: calc(var(--cellSize) * (-8));
  width: calc(var(--cellSize) * 6);
  padding-top: 17%;
  opacity: 0;
  transform: scaleY(0) translateY(-50%);
  transition: all 0.4s $cubic;
  transform-origin: center bottom;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  @media (max-width: $maxLaptop) {
    right: calc(var(--cellSize) * (-10) - -3px);
    width: calc(var(--cellSize) * 8 - -3px);
    padding-top: 18%;
  }
  @media (max-width: $maxTablet) {
    display: none;
  }
}

.listForMobile {
  display: none;
  @media (max-width: 568px) { // max-width: 568px
    display: block;
  }
  @media (max-width: 380px) {
    .title {
      @include font(19px, 14px, $minMobile, 320px);
    }
  }
}