@import "./scss/reset.scss";
@import "./scss/fonts.scss";
@import "./scss/variables.scss";
@import "./scss/mixins.scss";



body {
    background-color: #fff;
    color: $black;
    min-height: 100vh;
    font-family: "Gordita", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    overflow-x: hidden;
}

button{
    outline: red;
    cursor: pointer;
}

img{
    max-width: 100%;
}

@keyframes  :global(cursor-anim) {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

:global{
    #app{
        min-height: inherit;
    }
    .container{
        width: 100%;
        max-width: 1292px;
        padding: 0 66px;
        margin: auto;
        @media (max-width: 767px){
            padding: 0 28px;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 34px;
        grid-auto-rows: auto;
    }
    .wrapper{
        min-height: 100vh;
        height: 100%;
    }
    .cursor{
        width: 40px;
        height: 40px;
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        animation: cursor-anim 2s infinite linear ;
        z-index: 100;
        transform-origin: center center;
        margin-left: -16px;
        margin-top: -16px;
        pointer-events: none;
        transition: width .3s ease-in-out, 
                    height .3s ease-in-out;
        &.slow{
            animation: cursor-anim 6s infinite linear ;
            width: 50px;
            height: 50px;
        }
        &.stop{
            animation-play-state: paused;
        }
    }
}


