@import "./scss/reset.scss";
@import "./scss/fonts.scss";
@import "./scss/variables.scss";
@import "./scss/mixins.scss";



body {
    background-color: #fff;
    color: $black;
    min-height: 100vh;
    font-family: "Gordita", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    overflow-x: hidden;
}

button{
    outline: red;
    cursor: pointer;
}

img{
    max-width: 100%;
}

:global{
    #app{
        min-height: inherit;
    }
    .container{
        width: 100%;
        max-width: 1292px;
        padding: 0 66px;
        margin: auto;
        @media (max-width: 767px){
            padding: 0 28px;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 34px;
        grid-auto-rows: auto;
        @media (max-width: $maxMobile){
            grid-gap: 20px;
        }
    }
}


