@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
  padding: 122px 0 150px;
  @media (max-width: $maxLaptop) {
    padding: 102px 0 150px;
  }
  @media (max-width: $maxTablet) {
    padding: 66px 0 91px;
  }
  @media (max-width: $maxMobile) {
    padding: 50px 0 60px;
  }
  @media (max-width: $maxMobile) {
    padding: 52px 0 75px;
  }
}
.container {
  grid-column: 9 / -9;
  display: inherit;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--cellSize) * 2);
  @media (max-width: $maxLaptop) {
    grid-column: 8 / -8;
    grid-column-gap: calc(var(--cellSize) * 0);
  }
  @media (max-width: $maxTablet) {
    grid-column: var(--tabletWidth);
  }
  @media (max-width: $maxMobile) {
    grid-column: 4 / -4;
  }
}
.titleWrapper {
  padding: 0 0 34px 34px;
  h3 {
    position: relative;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 400;
    @media (max-width: $maxMobile) {
      font-size: 26px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: -34px;
      background: #30fddc;
      height: 66%;
      width: 18%;
      z-index: -1;
      @media (max-width: $maxLaptop) {
        top: 3px;
        left: -34px;
        height: 73%;
        width: 19%;
      }
      @media (max-width: $maxTablet) {
        top: 2px;
        left: -34px;
        height: 76%;
        width: 22%;
      }
    }
  }
  @media (max-width: $maxMobile) {
    grid-column: span 2;
  }

  @media (max-width: $maxMobile) {
    padding: 0 0 27px 22px;
  }
}
.textWrapper {
  @include font(19px, 16px, $maxLaptop, $maxTablet);
  line-height: 1.68;
  padding-top: 3px;
  @media (max-width: $maxLaptop) {
    padding-top: 6px;
  }
  p {
    padding-right: var(--cellSize);
    &:not(:last-child) {
      margin: 0 0 36px;
      @media (max-width: $maxTablet) {
        margin: 0 0 23px;
      }
      @media (max-width: $maxMobile) {
        margin: 0 0 18px;
      }
    }
    @media (max-width: $maxLaptop) {
      padding-right: 0;
    }
    @media (max-width: $maxMobile) {
      padding-right: 30px;
    }
  }
  @media (max-width: $maxMobile) {
    grid-column: span 2;
  }
  @media (max-width: $maxTablet) {
    padding-left: 47px;
  }
  @media (max-width: $maxMobile) {
    padding: 0 0 0 24px;
  }
  span {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50%;
      width: 100%;
      background: rgba(151, 151, 151, 0.1);
    }
  }
}
.partnersWrapper {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 119px 118px 0 40px;
  @media (max-width: $maxLaptop) {
    padding: 120px 0px 0 0px;
  }
  @media (max-width: $maxTablet) {
    padding: 50px 0 0;
  }
  @media (max-width: $maxTablet) {
    padding: 60px 6px 0 5px;
  }
  @media (max-width: $maxMobile) {
    padding: 52px 0 0 23px;
  }
  img {
    max-height: 31px;
    justify-self: center;
    padding: 0 15px 0 0;
    &:first-of-type {
      max-height: 26px;
      @media (max-width: $maxTablet) {
        max-height: 19px;
      }
      @media (max-width: $maxMobile) {
        max-height: 14px;
      }
    }
    &:nth-of-type(2) {
      transform: translate(20px, -2px);
      max-height: 28px;
      @media (max-width: $maxLaptop) {
        transform: translate(3px, -2px);
      }
      @media (max-width: $maxTablet) {
        transform: translate(1px, -3px);
        max-height: 21px;
      }
      @media (max-width: $maxMobile) {
        transform: translate(2px, -2px);
        max-height: 16px;
      }
    }
    &:nth-of-type(3) {
      max-height: 25px;
      transform: translate(25px, 1px);
      @media (max-width: $maxLaptop) {
        transform: translate(1px, 1px);
      }
      @media (max-width: $maxTablet) {
        transform: translate(1px, 1px);
        max-height: 18px;
      }
      @media (max-width: $maxMobile) {
        transform: translate(1px, 0px);
        max-height: 14px;
      }
    }
    &:last-child {
      max-height: 46px;
      padding: 0 0 0 0;
      transform: translateY(5px);
      @media (max-width: $maxTablet) {
        transform: translateY(2px);
      }
      @media (max-width: $maxMobile) {
        display: none;
      }
    }
    @media (max-width: $maxTablet) {
      max-height: 23px;
      &:last-child {
        max-height: 34px;
      }
    }
    @media (max-width: $maxMobile) {
      max-height: 17px;
    }
    @media (max-width: $maxMobile) {
      min-height: 13px;
    }
  }
}
