@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.section {
  display: inherit;
  grid-template-columns: inherit;
  grid-column: 1 / -1;
//   padding: 120px 0 240px;
  padding: 120px 0 150px;
  @media (max-width: $maxTablet) {
    padding: 60px 0 80px;
  }
  @media (max-width: $maxMobile) {
    padding: 50px 0 60px;
  }
}
.container {
  grid-column: 9 / -9;
  display: inherit;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--cellSize) * 2);
  @media (max-width: $maxTablet) {
    grid-column: var(--tabletWidth);
  }
}
.titleWrapper {
  padding: 0 0 34px 30px;
  h3 {
    font-size: 28px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: -30px;
      background: $lightGreen;
      height: 80%;
      width: 25%;
      z-index: -1;
    }
  }
  @media (max-width: $maxMobile) {
    grid-column: span 2;
  }
}
.textWrapper {
  @include font(19px, 16px, $maxLaptop, $minTablet);
  line-height: 1.68;
  p {
    padding-right: var(--cellSize);
    &:not(:last-child) {
      margin: 0 0 36px;
    }
  }
  @media (max-width: $maxMobile) {
    grid-column: span 2;
  }
  span {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50%;
      width: 100%;
      background: rgba(151, 151, 151, 0.1);
    }
  }
}
.partnersWrapper {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
//   padding: 120px 120px 0 40px;
  padding: 120px 120px 0 40px;
  @media (max-width: $maxTablet) {
    padding: 50px 0 0;
  }
  img {
    max-height: 31px;
    justify-self: center;
    padding: 0 15px 0 0;
    // &:first-of-type {
    //     max-height: 26px;
    // }
    // &:nth-of-type(2) {
    //     max-height: 28px;
    // }
    // &:nth-of-type(3) {
    //     max-height: 26px;
    // }
    &:last-child {
      max-height: 46px;
      padding: 0 0 0 0;
      @media (max-width: $maxMobile) {
        display: none;
      }
    }
    @media (max-width: $maxTablet) {
      max-height: 23px;
      &:last-child {
        max-height: 34px;
      }
    }
    @media (max-width: $maxMobile) {
      max-height: 17px;
    }
  }
}
