@font-face{
    font-family: "Gordita";
    src: url("./assets/fonts/GorditaBold.otf");
    font-weight: 600;
    font-display: swap;
}
@font-face{
    font-family: "Gordita";
    src: url("./assets/fonts/GorditaRegular.otf");
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family: "Gordita";
    src: url("./assets/fonts/GorditaMedium.otf");
    font-weight: 500;
    font-display: swap;
}
@font-face{
    font-family: "Gordita";
    src: url("./assets/fonts/GorditaLight.otf");
    font-weight: 300;
    font-display: swap;
}
@font-face{
    font-family: "PT Sans";
    src: url("./assets/fonts/SansBold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face{
    font-family: "PT Sans";
    src: url("./assets/fonts/SansRegular.ttf");
    font-weight: 400;
    font-display: swap;
}