//color
$black: #313233;
$gray: #9C9EA5;
$lightGreen: #54FFD7;

//animation
$cubic: ease-in-out;

// media 
$maxDesktop: 1680px;
$minDesktop: 1440px;
$maxTablet: 1080px;
$minTablet: 768px;
$maxMobile: 767px;
$minMobile: 375px;