//color
$black: #111212;
$gray: #9FA4A6;
$darkGray: #797D7E;
$lightGreen: #30FDDC;
$lightGray: rgba(157, 157, 157, 0.158);

//animation
$cubic: ease-in-out;

// media 
$maxDesktop: 1680px;
$minDesktop: 1440px;
$maxLaptop: 1280px;
$maxTablet: 1080px;
$minTablet: 768px;
$maxMobile: 767px;
$minMobile: 375px;